button {
    background-color: green;
    color: white;
}

h3 {
    font-size: large;
    font-variant-ligatures: common-ligatures;
    font-variant-caps: small-caps;
    text-align: center;
}

#filter--container {
    display: flex;
    flex-direction: column;
}

.filter {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: medium;
    border: 1px solid blue;
    border-radius: 10px 10px;
    height: 10em;
    padding:1em;

}