button {
    background-color: green;
    color: white;
}

h2 {
    font-size: x-large;
    font-variant-ligatures: common-ligatures;
    font-variant-caps: small-caps;
    text-align: center;
}

#filter--container {
    border: 10x solid purple;
    display: flex;
    flex-direction: column;
    gap: 1em;
}