.catalog--container {
    display: flex;
    max-width: 100%;
}

#catalog--filter{
    border: 1px solid red;
    width: 30%;
    text-align: center;
}

#catalog--list{
    border: 1px solid blue;
    width: 70%;

}

mat-grid-tile{
    border: 1px solid blue;
}